@charset "utf-8";
/* CSS Document */


/*-------------------reset.css----------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

/*----------------------------------------------------*/


.wrapper {
	width: 1920px;
	height: 2420px;
	margin:0 auto;
	background-color:#fff;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-style:normal;
}

.logo{
	padding-top:10px;
	padding-left:5px;
	width: 78px;
	height: 78px;
	background-color:#fff;
	border-bottom-right-radius:0.3em;
	border-bottom-left-radius:0.3em;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	display:block;
	float:left;
}

header
{
	width: 1920px;
	height: 69px;
	margin:0 auto;
	background-color:#fff;
	position:relative;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.head{
	left:395px;
	width: 1130px;
	height: 69px;
	margin:0 auto;
	background-color:#fff;
	position:absolute;
}

/*-------------------Navigation--------------------------------*/

nav {
	height:69px;
	font-size:80%;
	background-color:#fff;
	width:495px;
}

nav div {
	display:inline-block;
	float:left;
	border-right: 1px solid #BBB7B7;
	border-leftt: 1px solid #BBB7B7;
}
 
.ac{
	width:65px;
}

.rt{
	width:77px;
}
	
.vl{
	width:72px;
}

.mg{
	width:95px;
}

.enf{
	width:78px;
}

nav li{
	display: inline-block;	
}
		
nav a {
	text-decoration: none;
	text-align: center;
	color:#0897CC;
}
	
nav  a:link, nav a:visited{
  display: inline-block;
  text-decoration: none;
  user-select: none;
  margin-top: 5px;
}
		
nav  a:hover, nav a:active{
  display: inline-block;
  text-decoration: none;
  transition: 0.1s;
  color:#0C608A;
  font-weight: 600;
}

/*-----------------Recherche-------------------*/

.rch{
	display:inline-block;
	position:absolute;
	top:17px;
	left: 684px;
}

input[type=search]{
	width:195px;
	border-radius:0.4em; 
	border: 1px solid #BBB7B7;
	background-color: #f9f9f9;
	color:#A49F9F;
	padding: 5px;
	display:inline-block;
	height:32px;
	outline: none;	
}

.loupe{
	position:absolute;
	top:-1px;
	left: 165px;	
}


/*------------------Connexion---------------------*/

.compte{
	position:absolute;
	top:12px;
	left: 898px;
	width:134px;
	height:54px;
	font-size: 0.8em;
}

.velo_id{
	display:inline-block;
	float:left;
	margin:5px;
}

.compte a{
	text-decoration: none;
	color:#6F6F6F;
}

.langue{
	position:absolute;
	top:20px;
	left: 1086px;
}

/*---------------------------carrousel----------------------------*/

.carousel{
	width:1920px;
	height:492px;
	 background-image: url(../images/bg_header.png);
	 
}

.carousel_wr{
	width:1130px;
	height:492px;
	margin:0 auto;
}

.savoir_plus{
	width:174px;
	height:33px;
	background-color:#0897CC;
	position:absolute;
	top:509px;
	left: 1292px;
	text-align: center;
	border-radius:0.3em;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	font-size:0.85em;
	
}

.savoir_plus {
	text-decoration: none;
	color:#fff;	
	text-shadow: 1px 1px 1px #5A5A5A;	
}

.savoir_plus:hover, .savoir_plus:active{
  transition: 0.1s;
  background-color:#0C608A;
}



/*-----------------boutons------------------------*/

.pr_sv{
	width:920px;
	position:absolute;
	font-size:6em;
	color:#0897CC;
	text-shadow: 1px 1px 1px #5A5A5A;
}

#pr{
	width:60px;	
	height:65px;
	position:absolute;
	top: -320px;
	left:17px;
}

#sv{
	width:60px;	
	height:65px;
	position:absolute;	
	top: -320px;
	left:1085px;
}


#pr:hover, #sv:hover {
	color:#0C608A;
}



/*---------------boutons numéro-----------------------*/

.boutons{
	width:170px;
	height:30px;
	top:520px;
	left:875px;
	display:block;
	position:absolute;
	
}

ul{ 
    pading:0;
    margin:0;
	list-style:none;
}

li {
	margin-left:0;
	padding-left:0;
}

.boutons a { 
	margin:5px;
    float:left;
	width:22px;
	height:22px;
	display:inline-block;
}


#btn_1{
	background:url(../images/boutons_250.png) 0 0 no-repeat;
}

#btn_1:hover, #btn_1:active{
	background:url(../images/boutons_250.png) -1px -28px no-repeat;
}

#btn_2{
	background:url(../images/boutons_250.png) 0 0 no-repeat;
}

#btn_2:hover, #btn_2:active{
	background:url(../images/boutons_250.png) -1px -28px no-repeat;
}

#btn_3{
	background:url(../images/boutons_250.png) 0 0 no-repeat;
}

#btn_3:hover, #btn_3:active{
	background:url(../images/boutons_250.png) -1px -28px no-repeat;
}

#btn_4{
	background:url(../images/boutons_250.png) 0 0 no-repeat;
}

#btn_4:hover, #btn_4:active{
	background:url(../images/boutons_250.png) -1px -28px no-repeat;
}

#btn_5{
	background:url(../images/boutons_250.png) 0 0 no-repeat;
}

#btn_5:hover, #btn_5:active{
	background:url(../images/boutons_250.png) -1px -28px no-repeat;
}


/*--------------------------------------------------------------------*/

.slider-wrapper {
	width: 3400px;
	height: 450px;
	position: relative;
	transition: left 500ms linear;
}

.slide {
	float: left;
	position: relative;
	width: 680px;
	height: 450px;
}



.br{
	border:2px solid #fff;
	border-radius:2.4em;
}


/*----------------nov-------------------------*/

.nouveautes{
	width:1920px;
	height:344px;
	background:
	url(../images/sport-bike_bg.png)  200px 20px no-repeat, 
	url(../images/bg.png);	 			
}

.nouveautes_wr{
	width:1130px;
	height:344px;
	margin:0 auto;
}

.nouveautes h2{
	color:#fff;
	font-size:1.5em;
	padding:21px 96px;
}

.nouv{
	width:263px;
	height:269px;
	background-color:#fff;
	display:inline-block;
	float:left;
	margin-right:26px;
	border-radius:0.3em;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	overflow:hidden;
}

.photo{
	width:263px;
	height:138px;
	background-color:#f9f9f9;
	padding-top:4px;
}

.ph_wr{
	width:187px;
	height:120px;
	background-color:#fff;
	border-radius:0.3em;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	overflow:hidden;
	margin-left:37px;
}

.nouv h3{
	color:#0C608A;
	font-size:1.2em;
	margin-top:44px;
	margin-left:8px;
}

.nouv p{
	color:#575859;
	font-size:0.8em;
	margin:6px 36px 6px 8px;	
}


/*--------------------Les incontournable--------------------*/

.incont{
	width:1920px;
	height:630px;
	 background: 
	 url(../images/bicycle_bg.png)  200px 20px no-repeat,
	 url(../images/bg.png); 
	margin-right:24px;
}

.incont_wr{
	width:1130px;
	height:630px;
	margin-right:24px;
	margin:0 auto;
}

.incont h2{
	color:#fff;
	font-size:1.5em;
	padding:79px 5px 21px 96px;
}

.inc_gr{
	width:551px;
	height:439px;
	background-color:#fff;
	border-radius:0.4em;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	overflow:hidden;
	display:inline-block;
	float:left;
}

.inc_gr_photo{
	width:551px;
	height:343px;
	overflow:hidden;
}

.inc_gr h3{
	color:#0C608A;
	font-size:1.2em;
	margin-top:20px;
	margin-left:8px;
}

.inc_gr p{
	color:#575859;
	font-size:0.8em;
	margin:6px 36px 6px 8px;	
}

.inc_wr{
	width:551px;
	height:439px;
	display:inline-block;
	float:right;
}

.inc_impair{
	width:168px;
	height:223px;
	border-radius:0.3em;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	overflow:hidden;
	display:inline-block;
	float:left;
}

.inc_pair{
	width:168px;
	height:190px;
	background-color:#fff;
	border-radius:0.3em;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	overflow:hidden;
	display:inline-block;
	float:left;
}

.un,.quatre{
	margin-right:24px;
}

.trois, .six{
	float:right;
}

.cinq{
	margin-top:-7px;
}

.quatre, .six{
	margin-top:26px;
}

.inc_photo{
	width:168px;
	height:105px;
	overflow:hidden;
	background-color:#000;
}

.inc_pair h3{
	color:#0C608A;
	font-size:1.2em;
	margin-top:18px;
	margin-left:8px;
}

.inc_pair p{
	color:#575859;
	font-size:0.8em;
	margin:4px 36px 6px 8px;	
}


/*--------------------Shop--------------------*/

.magasin{
	width:1920px;
	height:507px;
	background-image: url(../images/bg_header.png);
}

.magasin_wr{
	width:1130px;
	height:507px;
	margin:0 auto;	
}

.magasin h2{
	font-size: 1.5em;
	padding: 27px 0 17px 0;
}	
	
	
.shop{
	width:360px;
	height:416px;
	display:inline-block;
	float:left;
	margin-right:25px;
}	

.right{
	margin-right:0;
}

.shop_photo{
	width:360px;
	height:224px;
	background-color:#fff;
	border-top-left-radius:0.3em;
	border-top-right-radius:0.3em;
	overflow:hidden;
}

.lg_1{
	width:40px;
	height:40px;
	margin:8px;
}

.shop h3{
	font-size:1.2em;
	margin: 15px  5px 8px 8px;
}

.shop p{
	font-size:0.8em;
	margin-left: 8px;
	margin-right: 8px;
}

.shop button{
	background-color: #0897CC;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 23px 8px 0 5px;
    cursor: pointer;
	float:right;
}

.shop button:hover, .shop button:active{
  transition: 0.1s;
  background-color:#0C608A;
}



/*-------------------footer-------------------*/

footer{
	width:1920px;
	height:340px;
	background-color:#f9f9f9;
	margin-top:50px;
}

.footer_wr{
	width:1130px;
	height:340px;
	margin:0 auto;
}

.ft{
	display:inline-block;
	float:left;
	margin:35px 96px 0 0;	
}

.ft h3{
	color:#0C608A;
	font-size:1.2em;	
}


.ft li {
    list-style-type: none;
	font-size:0.8em; 
}

.ft li:before {
    color: #0897CC; 
    content: "> "; 
    padding-right: 10px; 
}

.pol_conf{
	width:214px;
	height:25px;
	font-size:0.7em;
	background-color:#0897CC;
	color:#fff;
	border-top-left-radius:0.3em;
	border-top-right-radius:0.3em;
	position:absolute;
	top:2395px;
	text-align:center;
	padding-top:5px;
	left:1678px;
}